# FIAP - Pós Tech IA para Devs
## Desafio Aula Inagural : Previsão de evasão escolar
### Professora: Poliana Ferreira 
Atividade prática de classificação, cujo objetivo é desenvolver um modelo capazes de identificar se um aluno tem maior chance de abandonar os estudos (Dropout) ou de se formar (Graduate). Você deve ter acurácia >= 90% e recall do dropout >=e 80% 

Vocês devem seguir os passos nos comentários desse notebook. Lembrem-se, vocês podem adicionar coisas, mas não podem tirar! :) 

Base de dados: https://github.com/pnferreira/fiap-ia-devs/blob/main/dropout-inaugural.csv

Target: "Dropout" ou "Graduate"

In [11]:
%pip install --upgrade pip

%pip install pandas 
%pip install scikit-learn 
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: pip in /home/user/postech-ia/.venv/lib/python3.11/site-packages (25.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /home/user/postech-ia/.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.19.5 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from scikit-learn) (2.2.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 62.1 MB/s eta 0:00:00:00:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.6/37.6 MB 30.4 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /home/user/postech-ia/.venv/lib/python3.11/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /home/user/postech-ia/.venv/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from seaborn) (2.2.4)
Requirement already satisfied: pandas>=1.2 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /home/user/postech-ia/.venv/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

# importar as bibliotecas necessárias - pandas, sklearn, matplotlib, seaborn

In [9]:
import pandas as pd
import matplotlib as plt
import seaborn
#import sklearn...?

Referencia: Aulas no Senai com professor Marcus Contes

In [12]:
# Módulos da biblioteca de Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression # Regressão logística permite distinguir entre duas categorias (0 a 50% e 51% a 99.99%)
# Suggested code may be subject to a license. Learn more: ~LicenseLog:1396940808.
from sklearn.svm import SVC # Support Vector Machine -> Hiperplano não linear que permite categorizar mais de dois tipos de classes [Muito utilizado em Classificação Multi-Classe]
from sklearn.metrics import accuracy_score, confusion_matrix # Acuracia e Matriz de Confusao

# importar a base de dados

In [13]:
targetFile = "dropout-inaugural.csv"
data = pd.read_csv(targetFile, sep=",", decimal=".")

# visualizar as primeiras linhas da base de dados

In [14]:
display(data.head(25))

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1.0,8,5,2.0,1,1,1,13.0,10.0,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1.0,6,1,11.0,1,1,1,1.0,3.0,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1.0,1,5,5.0,1,1,1,22.0,27.0,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1.0,8,2,15.0,1,1,1,23.0,27.0,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2.0,12,1,3.0,0,1,1,22.0,28.0,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
5,2.0,12,1,17.0,0,12,1,22.0,27.0,10,...,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate
6,1.0,1,1,12.0,1,1,1,13.0,28.0,8,...,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate
7,1.0,9,4,11.0,1,1,1,22.0,27.0,10,...,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout
8,1.0,1,3,10.0,1,1,15,1.0,1.0,10,...,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate
9,1.0,1,1,10.0,1,1,1,1.0,14.0,5,...,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout
10,1.0,1,1,14.0,1,1,1,23.0,14.0,6,...,0,6,7,5,14.200000,0,13.9,-0.3,0.79,Graduate
11,1.0,1,1,12.0,1,1,1,13.0,28.0,10,...,0,8,8,7,13.214286,0,12.7,3.7,-1.70,Graduate
12,1.0,1,2,16.0,1,1,1,13.0,27.0,5,...,0,6,0,0,0.000000,0,12.7,3.7,-1.70,Dropout
13,1.0,17,1,11.0,1,16,1,1.0,1.0,5,...,0,6,8,5,11.000000,0,8.9,1.4,3.51,Graduate
14,1.0,1,1,6.0,1,1,1,23.0,27.0,6,...,0,5,5,5,12.000000,0,10.8,1.4,1.74,Graduate
15,1.0,1,1,15.0,1,1,1,13.0,27.0,10,...,0,6,7,0,0.000000,0,15.5,2.8,-4.06,Dropout
16,1.0,8,2,12.0,1,1,1,13.0,1.0,6,...,0,8,8,8,14.545000,0,15.5,2.8,-4.06,Graduate
17,1.0,1,1,8.0,1,1,1,3.0,14.0,4,...,0,5,8,4,12.250000,2,10.8,1.4,1.74,Graduate
18,1.0,1,3,2.0,1,1,1,1.0,1.0,10,...,0,0,0,0,0.000000,0,11.1,0.6,2.02,Graduate
19,1.0,1,4,12.0,1,1,1,13.0,14.0,2,...,0,8,12,7,12.857143,0,12.7,3.7,-1.70,Graduate
20,1.0,1,4,14.0,1,1,1,1.0,28.0,5,...,0,6,7,6,12.285714,0,11.1,0.6,2.02,Graduate
21,1.0,1,1,12.0,1,1,1,13.0,14.0,4,...,0,8,9,7,14.114286,0,11.1,0.6,2.02,Graduate
22,1.0,8,2,10.0,1,1,1,13.0,28.0,8,...,0,6,9,6,13.285714,0,16.2,0.3,-0.92,Graduate
23,1.0,1,1,9.0,1,1,1,13.0,1.0,10,...,0,5,6,5,12.333333,0,16.2,0.3,-0.92,Graduate
24,1.0,16,1,5.0,1,1,1,27.0,3.0,16,...,0,6,9,4,13.400000,0,8.9,1.4,3.51,Graduate

In [5]:
# ver os valores da coluna Target - que queremos prever

In [18]:
target = pd.read_csv("dropout-inaugural.csv", usecols=['Target'])
print(target)

        Target
0      Dropout
1     Graduate
2      Dropout
3     Graduate
4     Graduate
...        ...
3630   Dropout
3631  Graduate
3632  Graduate
3633  Graduate
3634   Dropout

[3635 rows x 1 columns]

In [6]:
# tratar dados nulos

# tratar dados duplicados

# outras formas de pré-processamento (OPCIONAL - ex.: seleção de características, normalização, tratamento de outliers, balanceamento do target...)
# pode ser nessa célula ou nas seguintes, a depender do que você escolher fazer

In [24]:
filtrados = data.dropna()

print(f'Foram removidas {len(data)-len(filtrados)} linhas. Aproximadamente {((len(data)-len(filtrados))/len(data)*100):.2f}%')

Foram removidas 20 linhas. Aproximadamente 0.55%

In [7]:
# análise exploratória: crie uma pergunta sobre a base de dados e responda através de um gráfico

In [8]:
# divisão entre caracterísiticas (X) e rótulo (y)

# divisão entre treino e teste - 70% e 30%

In [9]:
# treinamento de modelo de classificação a sua escolha (um ou mais)

In [10]:
# avaliação do modelo com dados de teste 
#(para ser considerado resultado satisfatório, você deve alcançar no mínimo 90% de acurácia e 80% de recall do Dropout)